<h1>profile Page of {{myDuck.name}}</h1>
<div class="card" style="background-color:{{myDuck.color}} ;">
	<picture>
		<img src="{{myDuck.picture}}" alt="{{myDuck.name}}" />
	</picture>
	<p>Name: {{myDuck.name}}</p>
	<p>Material: {{myDuck.material}}</p>
	<p>Age: {{myDuck.age}}</p>
</div>